*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header nav {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;
}

.btn1 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    transition: all 0.3s ease;
}
.btn1:hover{
    background-color: #276941;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #00000026;
}

.btn2{
    font-weight: 16px;
    padding: 16px;
    color: #ffffff;
    background:none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;

}
.btn2:hover{
    background-color: #55da18;
    color: #f0f0f0;
    border-color: #b6ceb3;
    box-shadow: 0 0 15px #ffffff66;
    transform: translateY(-3px);
}

#banner {
    background: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 674px;
}
#banner .banner-content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}

#banner .banner-content-1{
    display: flex;
    height: 35px;
    width: 229px;
    background-color: #ffffff;
    border-radius: 1000px;
    gap: 6px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 116px;
    margin-bottom: 16px;
}
#banner .banner-content-1 p {
    font-size: 16px;
    font-weight: 500;
    color: #276941;

}
#banner .banner-content-2 h1 {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    line-height: 84px;
    margin-bottom: 16px;
    text-align: center;

}
#banner .banner-content-2 h1 .color-text{
    color: #30B868;
}
#banner .banner-content-2 p{
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;

}
#str{
    max-width: 1600px;
    justify-content: center;
    align-items: center; 
}
#str .str-container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#str .str-container .str-heading{
    height: 152px;
    align-items: flex-end;
    justify-content: center;
}
#str .str-container .str-heading h1{
    font-size: 48px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 16px;
}
#str .str-container .str-heading p{
    font-size: 16px;
    padding-bottom: 44px;

}
#str .str-container .str-box{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
#str .str-container .str-card h3{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
    color: #001931;

}
#str .str-container .str-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.str-card .icone img{
    height: 32px;
    width: 32px;
}
.str-card .icone{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 100%;
    justify-items: center;
    align-content: center;
    margin-bottom: 16px;
}
.str-container .str-box .str-card{
    justify-items: center;
    align-content: center;
    /* border: 1px solid red; */
    box-shadow: 0 0 8px #0000000e;
    height: 322px;
    width: 300px;
    /* padding: 47px 24px; */

}

#solution .solution-container{
    display: flex;
    max-width: 1600px;
    width: 100%;
    padding: 120px 120px;
    gap: 60px;
    justify-items: center;
    align-content: center;
}

#solution .solution-container .solution-contain{
    padding: 102px;
    /* max-width: 700px; */
}
#solution .solution-container .solution-contain h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
#solution .solution-container .solution-contain .P1{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    padding-bottom: 16px;
}

#solution .solution-container .solution-contain .P2{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 40px;
}
#solution .solution-container .solution-contain ul{
    list-style: none;
 
}
#solution .solution-container .solution-contain ul li{
    padding-bottom: 16px;
}
#solution .solution-container .solution-contain ul img{
    vertical-align: middle;
}
#thinkmore{
    max-width: 1600px;
    width: 100%;
    padding: 2px 120px 120px 120px;
}

#thinkmore .thinkmore-container{
    max-width: 1360px;
    width: 100%;
    background-color: #F7F6F2;
    margin: 0 auto;
}

#thinkmore .thinkmore-container h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #001931;
    padding-top: 80px;
    padding-bottom: 16px;
}
#thinkmore .thinkmore-container .thinkmore-cnt-2{
    display: flex;
    text-align: center;
    justify-content: center;
}
#thinkmore .thinkmore-container p {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
}
#thinkmore .thinkmore-container .btn-3{
    text-align: center;
    padding-bottom: 16px;
}
#thinkmore .thinkmore-container .thinkmore-cnt-2 p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 80px;
}

#footer{
    max-width: 1600px;
    width: 100%;
    background-color: #001931;
}
#footer .footer-container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
}
#footer .footer-container .footer-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
#footer .footer-container .footer-content .footer-content-2 p{
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    padding-bottom: 16px;
}
#footer .footer-container .footer-content .footer-content-2 a {
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 100%;
    color: #000;
}
#footer .copyright{
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 30px;
}
#footer hr{
    height: 1px;
    background-color: #E5E7EB;
    opacity: 0.2;
}