*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header nav {
    max-width: 1360px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;
}

.btn1 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn2{
    font-weight: 16px;
    padding: 16px;
    color: #ffffff;
    background:none;
    border: 1px solid #ffffff;
    border-radius: 4px;

}

#banner {
    background: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 674px;
}
#banner .banner-content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}

#banner .banner-content-1{
    display: flex;
    height: 35px;
    width: 229px;
    background-color: #ffffff;
    border-radius: 1000px;
    gap: 6px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 116px;
    margin-bottom: 16px;
}
#banner .banner-content-1 p {
    font-size: 16px;
    font-weight: 500;
    color: #276941;

}
#banner .banner-content-2 h1 {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    line-height: 84px;
    margin-bottom: 16px;
    text-align: center;

}
#banner .banner-content-2 h1 .color-text{
    color: #30B868;
}
#banner .banner-content-2 p{
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;

}

