*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header{
    display: flex;
    padding-top: 16px;
}

.header nav {
    max-width: 1360px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #000000;
}

.btn1 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 12.5px 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

